* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: baseline;
  text-decoration: none;
  box-sizing: border-box;
}

img,
picture,
video,
iframe,
figure {
  max-width: 100%;
  width: 100%;
  *display: block;
  /* opcional */
  -o-object-fit: cover;
  object-fit: cover;
  /* opcional */
  -o-object-position: center center;
  object-position: center center;
}

::-moz-selection {
  background-color: black;
  color: white;
}

::selection {
  background-color: black;
  color: white;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/*FIN RESET CSS*/

/* 
.container__formulario {
  text-align: left;
  font-family: poppins, sans-serif;
  font-size: 0.8em;
  width: 40rem;
  margin: auto;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: .0625rem .0625rem 0.8rem -0.2rem black;
  border-radius: .3125rem;
} */

/* .container__formulario h2 {
  text-align: center;
  color: rgb(240, 78, 39);
  text-shadow: .0625rem .0625rem .6875rem rgb(180, 179, 179);
  font-size: 2.2em;
  margin-top: .625rem;
}
 */


form {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: left;
  text-align: left;
  font-family: Poppins, sans-serif;
  font-size: 0.8em;
  width: 40rem;
  margin: auto;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  *border: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: .0625rem .0625rem 0.8rem -0.2rem black;
  border-radius: .3125rem;
  background-color: rgb(196, 196, 196, 0.5);
  background: linear-gradient(130deg, rgba(113,112,112,1) 25%, rgba(172,172,172,1) 50%, rgba(108,116,121,1) 85%);

}

form h2 {
  text-align: center;
  color: rgb(255, 255, 255);
  text-shadow: -.0625rem .0625rem .1rem  rgb(0, 0, 0);
  font-size: 2.2em;
  margin-top: .625rem;
}

.formulario {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin-bottom: 2.5rem;
  margin: auto;
  padding: .9375rem .625rem;
  margin-bottom: .9375rem;
}

.form__content {
  display: flex;
  flex-direction: column;
}

.form__content-input {
  width: 100%;
  display: block;
  position: relative;
 
}

.form__content-input input {
  width: 100%;
  border: 2px solid transparent;
  padding: .9375rem .625rem;
  background-color: #ffffff;
  outline: none;
}

.form__content-input input:focus  {
 
  border: 2px solid rgb(242, 174, 29);
} 

.form__content-correcto  {
  position: absolute;
  z-index: 100;
  right: 1rem;
  bottom: 1rem;
  font-size: 1.5em;
  opacity: 0;
}

.form__content-incorrecto  {
  position: absolute;
  z-index: 100;
  right: 1rem;
  bottom: 1rem;
  font-size: 1.5em;
  opacity: 0;
}



.form__content label {
  display: block;
  padding: .5rem;
  width: 50%;
  background-color: rgb(194, 191, 191);
  margin: 10px 0;
  color: #000000;
  text-shadow: 1px 2px 5px rgb(235, 235, 235);
  cursor: pointer;
}

.formulario__input-error {
 font-size: 0.8em;
 visibility: hidden;
}


.formulario__select {
  display: flex;
  flex-direction: column;
  padding: .9375rem;
  background-color: #d3d3d3;

}

.form__content>textarea {

  border: 1px solid black;
  resize: none;
  outline: 0;
  padding: .625rem;
}

/* .form__content>textarea:focus {

  border: 1px solid rgb(160, 2, 2);

} */


.btn {
  background-color: rgb(212, 29, 29);
  color: #ffffff;
  width: 5rem;
  padding: .9375rem;
  justify-content: center;
  align-self: center;
  margin-bottom: 1rem;
  margin-top: 1rem;
  cursor: pointer;
}

footer {
  width: 100%;
  display: flex;
  
  justify-content: center;
  background-color: rgb(180, 180, 178);
  background-position: bottom;
  margin-top: auto;  
  
  
}


/*estilos validacion*/

.form_content-correcto .form__content-correcto {
  color: #00da0b;
  opacity: 1;
}

.form_content-incorrecto .form__content-label {
  color: #ee1111;
}

.form_content-incorrecto .form__content-incorrecto {
  color: #ee1111;
	opacity: 1;
}

.form_content-incorrecto .formulario-input {
  border: 3px solid #ee1111;
}

.formulario__input-error-incorrecto {
  font-size: 0.8em;
  font-weight: 600;
  visibility: visible;
 }

 .formulario__input-error-correcto {
  font-size: 0.8em;
  visibility: hidden;
 }





 
