/*RESET CSS*/
@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: baseline;
  text-decoration: none;
  box-sizing: border-box;
}

img,
picture,
video,
iframe,
figure {
  max-width: 100%;
  width: 100%;
  *display: block;
  /* opcional */
  -o-object-fit: cover;
  object-fit: cover;
  /* opcional */
  -o-object-position: center center;
  object-position: center center;
}

::-moz-selection {
  background-color: black;
  color: white;
}

::selection {
  background-color: black;
  color: white;
}


html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/*FIN RESET CSS*/

/* TABLA */

 .containerTitulo {
  width: 100%;
  display: flex;
  margin: auto;
  position: relative;
  justify-content: center;
  font-family: poppins, sans-serif;
  margin-top: 0.625rem;
  margin-bottom: -3.125rem;
}

.containerTitulo h1 {
  font-size: 3em;
  font-weight: 900;
  color: rgb(242, 174, 29);
  text-shadow: 1px 1px 1px rgb(102, 101, 101);
} 

.Container-table {
  font-family: poppins, sans-serif;
  width: 56.25rem;
  max-width: 75rem;
  position: relative;
  display: flex;
  flex-wrap: wrap nowrap;
  flex-direction: column;
  background-color: rgba(255, 255, 255);
  border-radius: .3125rem;
  border: 1px solid black;
  padding: .625rem;
  margin: 5rem auto;
  margin-bottom: 2rem;
  box-shadow: .125rem .125rem .9375rem rgb(148, 148, 148);
}

.table {
  background-color: rgba(211, 207, 207, 0.4);
  padding: 35px;
  text-align: justify;
  display: flex;
  flex-direction: column;
}

.table h2 {
 *color: rgb(192, 2, 2);
}

.table__img {

  width: 100%;
  margin-bottom: 1.5rem;
  
  display: flex;
  flex-direction: column;

  
}

.table__img img{
  width: 7rem;
  position: relative;
  align-items: center;
  justify-content: center;
  text-align: center;
}


.Container-table p {
  padding: 5px;
  font-size: 1em;
}

.table h3 {
  color: rgb(192, 2, 2);
}

.Container-table ul {
  font-size: 0.9em;
  padding-top: .625rem;
  padding-left: 2.8125rem;
}

.Container-table ul li {
  padding: .9375rem, 0;
  margin: .9375rem 0;
}

.Container-table ol {
  font-size: 0.9em;
  padding-top: .625rem;
  padding-left: 2.8125rem;
}

.Container-table ol li {
  padding: .9375rem, 0;
  margin: .9375rem 0;

}

.Container-table li a {
  color: rgb(182, 3, 3);
}

.Container-table li a:hover {

  background-color: transparent;
  box-shadow: none;

}


li img {
  width: 5.625rem;
  padding: 0 5px;
}


li img:hover {
  transform: scale(1.1);
  transition: all 300ms ease;
}

.Container-table input {
  display: flex;
  margin: auto;
  padding: 0.5rem;
  background-color: rgb(212, 29, 29);
  box-shadow: .1rem, .1rem, 1.875rem, 0.4rem, rgb(rgb(105, 103, 103));
  color: #ffffff;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  transition: box-shadow 600ms;
}

.Container-table input:hover {
  box-shadow: .1rem, .1rem, 1.875rem, 0.4rem, rgb(rgb(105, 103, 103));
  transform: scale(1.1);
  transition: all 300ms ease;
}

