* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  *list-style: none;
  box-sizing: border-box;

}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.Container-table {
  font-family: poppins, sans-serif;
  width: 120vh;
  position: relative;
  display: flex;
  flex-wrap: wrap nowrap;
  flex-direction: column;
  background-color: rgb(254, 254, 255, 0.5);
  border-radius: 5px;
  border: 1px solid black;
  padding: 10px;
  margin: 80px auto;
  box-shadow: 2px 2px 15px rgb(148, 148, 148);
}

.table{
background-color: rgba(211, 207, 207, 0.4);
padding: 35px;
}

.Container-table p{
  padding: 5px;
  font-size: 0.9em;
}

.Container-table ul{
  font-size: 0.9em;
  padding-top: 10px;
  padding-left: 45px;
}

.Container-table li a{
  color: black;
}

.Container-table li a:hover{
  color: black;
  background-color: rgb(204, 204, 204, 0.3) ;
  
}

