/*RESET CSS*/

* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  vertical-align: baseline;
  text-decoration: none;
  box-sizing: border-box;
}

img, picture, video, iframe, figure {
  max-width: 100%;
  width: 100%;
  *display: block;
  /* opcional */
  -o-object-fit: cover;
     object-fit: cover;
  /* opcional */
  -o-object-position: center center;
     object-position: center center;
}

::-moz-selection {
  background-color: black;
  color: white;
}
::selection {
  background-color: black;
  color: white;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/*FIN RESET CSS*/

header {
  background-color: rgb(180, 180, 178);
  width: 100%;
  height: 100%;
  font-family: poppins, sans-serif;
  top: 0;
  right: 0;
  z-index: 100;
}

.containerAll {
  max-width: 75rem;
  height: 100%;
  position: relative;
  right: 0;
  background-color: rgb(127, 134, 142);
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding: 0px, 1.875rem;
  box-shadow: -1px 1px 2px black;
  z-index: 1;
}

.logo {
  width: 15.625rem;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: .625rem;
  padding: 0 auto;
}

nav {
  height: 100%;  
}

nav>ul {
  list-style: none;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .9375rem;
  margin-top: 0;
}

nav>ul>li {  
  display: flex;
  align-items: center;
  position: relative;  
}

nav>ul>li>a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: rgb(250, 250, 250);
  font-size: 1em;
  padding: 0px 1.25rem;
  text-shadow: 1px 1px 1.5px hsl(0, 0%, 5%);
}

.active {
  background-color: rgba(221, 218, 212,0.5);
  *border-radius: 25px;
}

nav ul li ul {
  list-style: none;
  top: 2.8125rem;
  left: .3125rem;
  padding: .625rem .9375rem .3125rem .9375rem;
  position: absolute;
  width: 15.625rem;
  display: flex;
  flex-direction: column;
  background: rgb(127, 134, 142);
  visibility: hidden;
  box-shadow: 1px 1px 2px black;
  transition: all 300ms ease;
}

nav ul li{
  padding: .3125rem 0;
}

nav ul li:hover ul {
  visibility: visible;
  opacity: 1;
  top: 3.125rem;
  transition: all 300MS ease;
}

nav ul li a {
  display: block;
  color: #ffffff;
  font-size: 1em;
  padding: .625rem .625rem;
  text-shadow: 1px 1px 1.5px hsl(0, 0%, 5%);
}

nav ul li ul a:hover {  
  display: block;
  color: #000000;
  text-shadow: none;
  background: rgb(255, 255, 255);
  box-shadow: 1px 1px 5px rgb(77, 76, 76);
  transform: scale(1.1);
  transition: all 300ms ease; 
}


nav>ul>li>a:hover {
  display: block;
  color: #000000;
  text-shadow: none;
  background: rgb(255, 255, 255);
  transform: scale(1.1);
  box-shadow: 0.5rem 0.5rem .625rem rgb(90, 89, 89);
  transition: all 300ms ease;
}



.containerCover {
  max-width: 75rem;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  padding: .9375rem 0px;
  right: 0; 
}

.containerCover .containerInfo {
  margin: 2.5rem 0px 0px 0px;
  font-family: poppins, sans-serif;
  width: 33%;
  /* margin-top: 30px;
  margin-left: 10px; */  
}

.containerCover h1 {
  margin-top: -3.125rem;
  margin-bottom: -0.9375rem;
  max-width: 28.125rem;
  font-size: 3em;
  font-weight: 900;
  color: rgb(242, 174, 29);
  text-shadow: 1px 1px 1px rgb(102, 101, 101);
}

.containerCover h2 {
  padding-top: -3.4375rem;
  max-width: 25rem;
  font-size: 3em;
  font-weight: 900;
  color: rgb(240, 78, 39);
  text-shadow: 1px 1px 1px rgb(102, 101, 101);
}

.containerCover p {
  margin-top: -0.3125rem;
  text-align: justify;
  font-size: 0.9em;
  margin-right: 2.1875rem;
  padding: .625rem;
}

.containerVector {
  margin-top: 5rem;
  width: 35%;
  position: relative;
  left: 3.125rem;
}


.containerVector a img {
  position: relative;
  bottom: 11.875rem;
  width: 90%;
  transition: all 300ms;
  animation: moveVector 6s ease-in-out infinite;
  z-index: -1;
  cursor: pointer;
}

.bgColor {
  width: 100%;
  height: 60%;
  position: absolute;
  top: 0;
  z-index: -202;
}

.wave1 {
  width: 100%;
  height: 80%;
  top: 0;
  position: absolute;
  left: 0;
  background-image: url(../assets/img/wave3.svg);
  z-index: -201;
  opacity: 0.4;
  background-repeat: no-repeat;
  opacity: 0.5;
}

/* .wave2{
  background-image: url(../assets/img/wave2.svg);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 50;
  z-index: -203;
  background-repeat: no-repeat;
  opacity: 0.3;
}  */


.carrusel {
  position: relative;
  width: 40%;
  height: 100%;
  margin-left: 2.5rem;
  background-color: rgb(131, 131, 131);
  overflow: hidden;
  border-radius: .3125rem;
  transition: all ease-in .6s;
  list-style: none;
}

.ul {
  width: 500%;
  display: flex;
  flex-flow: wrap nowrap;
  transition: all ease .6s;
  border-radius: 1rem;
  list-style: none;
}

.ul .li .a .img {
  border-radius: .625rem;
  transition: all 0.6s ease;
}

.slider {
  transition: all .6s ease;
}


.carrusel .li img {
  width: calc(100%);
  cursor: pointer;
  padding: 0.4rem;
  transition: all 0.6s ease;
  border-radius: .3125rem;
}

.carrusel .dots {
  width: 100%;
  padding: 0.5rem 0.2rem;
  background-color: rgb(127, 134, 142);
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.carrusel .dot {
  width: 1rem;
  height: 1rem;
  margin: 0.2rem;
  background: rgb(242, 174, 29);
  border-radius: 50%;
}

.carrusel .dot:hover {
  background-color: rgb(240, 78, 39);
  cursor: pointer;
  transition: 0.4s ease;
}

.carrusel .dot.activo {
  background-color: rgb(240, 78, 39);
}

.btnLeft,
.btnRight {
  display: flex;
  color: #111111;
  opacity: 0.5;
  font-size: 2.5em;
  font-weight: 700;
  border-radius: 50%;
  top: 40%;
  position: absolute;
  padding: 0.4rem;
  cursor: pointer;
  user-select: none;
  transform: translate(0, 0%);
  text-shadow: 1px 1px 5px #ffffff;
}

.btnLeft {
  margin-left: -2rem;
}

.btnRight {
  margin-right: -2rem;
}

.carrusel:hover>.btnLeft {
  display: flex;
  flex-direction: row;
  transform: translate(90%, 0%);
  transition: all 0.3s ease-in;
}

.carrusel:hover>.btnRight {
  display: flex;
  flex-direction: row;
  transition: all 0.4s ease;
  transform: translate(-90%, 0%);
}

.btnLeft:hover,
.btnRight:hover {
  opacity: 1;
  transition: 0.5s ease;
}

.btnRight {
  right: 1px;
}

.subtitulo{
  margin-top: -6rem;
  margin-bottom: -3rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap nowrap;
  justify-content: center;
  align-items: center;
  font-family: poppins, sans-serif;
}

.subtitulo h1{
  font-size: 3em;
  font-weight: 900;
  color: rgb(242, 174, 29);
  text-shadow: 1px 1px 1px rgb(102, 101, 101);
  
}

.subtitulo h2{
  margin-top: -.9rem;
  font-size: 3em;
  font-weight: 900;
  color: rgb(240, 78, 39);
  text-shadow: 1px 1px 1px rgb(102, 101, 101);
}


.containerCard {

  max-width: 90%;
  margin: auto;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 1.25rem;
  font-family: poppins, sans-serif;
  perspective: 62.5rem;
 
}


.cardPrincipal {

  margin: 2.8rem;

}

.cardPrincipal:hover .card {
  transform: rotateY(180deg);
}


.card {
  background-color: #ffffff;
  border-radius: 1.25rem;
  width: 16.8rem;
  height: 20rem;
  position: relative;
  transform-style: preserve-3d;
  transition: all 600ms ease;
  box-shadow: -1px 1px 10px black;
}

.cardFront{
  background-size: cover;
  background-position: center;
 
}

.cardFront,
.cardBack {

  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  border-radius: 1.25rem;

}

.cardBack {
  transform: rotateY(180deg);

}

.bodyCardFront{
  width: 100%;
  height: 100%;
  margin-top: -1rem;
  text-align: center;
  padding: .8rem;
  color: rgb(0, 0, 0);
  font-size: 0.8em;
  text-shadow: -0.1875rem .1875rem .9375rem  #beb8b8;
  display: flex;
  justify-content: center;
  align-items: last baseline;
  transform: translateZ(60px);
}

.bg{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  *background-color: rgba(255, 255, 255);
  border-radius: 1.25rem;

}

.bodyCardBack{

  padding: .9375rem .9375rem .9375rem .3125rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.bodyCardBack p{

  margin-top: 1.25rem;
  font-size: 1em;
}

.bodyCardBack h6{

  margin-top: 1.25rem;
  font-size: 1.2em;
}


.bodyCardBack input{

  padding: .625rem 1.875rem;
  margin-top: 1.25rem;
  font-size: 1.2em;
  border: none;
  cursor: pointer;
  color: #fff;
  background-color: cornflowerblue;
  box-shadow: 1px 1px 1px rgb(77, 76, 76);
  border-radius: .625rem;
  transition: box-shadow 600ms;
  
}

.bodyCardBack input:hover{
  box-shadow: 1px, 1px, 30px, -5px rgb(rgb(105, 103, 103));
  transform: scale(1.1);
  transition: all 300ms ease;
}

.footer {
  margin-top: auto;
  font-family: poppins, sans-serif;
  display: flex;
  width: 100%;
  justify-content: center;
  bottom: 0;
  align-items: center;
  border-radius: .3125rem;
} 

footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  *position: absolute;
  justify-content: center;
  background-color: rgb(180, 180, 178);
  background-position: bottom;
  margin-top: auto;  
}

.containerFooter {
  position: relative;
  width: 75rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0px .9375rem;
  background-color: rgb(127, 134, 142);
  box-shadow: -1px -1px 2px black;
  right: 0;
}


.footerLogo img {
   width: 15.625rem;
}


.socialMedia {
  height: 100%;
  font-family: poppins, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 0px;
  color: #ffffff;
  text-shadow: 1px 1px 5px black;
}

.socialMedia h6 {
  font-size: 0.9em;
  color: #ffffff;
}


.socialMedia a {
  font-size: 0.8em;
  color: #ffffff;
}

.socialMedia a:hover {
  color: rgb(242, 174, 29);
  transition: all ease .4s;
}

.copyright {
  height: 100%;  
  display: flex;
  flex-direction: column;
  color: #ffffff;
  text-shadow: 1px 1px 5px black;
  align-items: center;
  justify-content: center;
}

.copyright p{
  font-size: 0.8em;
}

.copyright h5{
  font-size: 1.2em;
}


@keyframes moveVector {
  0% {
    transform: translateY(.5rem);
  }

  25% {
    transform: translateY(-0.5rem);
  }

  100% {
    transform: translateY(.5rem);
  }
}